<p id="notice"><%= notice %></p>

<h1><%= @user.account %>さんのレポート一覧</h1>

<div id="mainbody">
  <div id="container">
    <div id="mainbox">
      <div id="mainfield">
	<!-- メインコンテンツ  -->
	<%= @user.account %> さんのレポート提出状況は以下のようになっています.
	
	<table border="1">
	  <tr>
	    <th></th>
	    <th>ID</th>
	    <th>User</th>
	    <th>ふりがな</th>
	    <th>Tag</th>
	    <th>Date</th>
	    <th>Title</th>
	    <th>Body</th>
	    <th>コメント有無</th>
	    <th colspan="2">アクション</th>
	  </tr>
	  <% nm = 1%>
	  <% @repbody.each do |repbody| %>
	  <tr style="background-color:<%= cycle('#ffffff', '#d3d3d3') %>">
	    
	    <td><%= nm %></td>
	    <td><%= repbody.id %></td>
	    <td><%= repbody.user.username %></td>
	    <td><%= repbody.user.furigana %></td>
	    <td><%= repbody.tag.tag %><%#= @tag_name[repbody.tag_id.to_i - 1].to_s %></td>
	    <td><%= repbody.date %></td>
	    <td><%= repbody.title %></td>
	    <td><%= truncate(repbody.body, :length => 10) %></td>
	    <td><%= repbody.commentexis %></td>
	    <td><%= link_to 'Show', user_repbody_path(repbody.user_id, repbody.id) %></td>
	    
	    <td>
	      <% if current_user.id.to_i == repbody.user_id.to_i %>
	      <%= link_to 'Edit', edit_user_repbody_path(current_user, repbody.id) %>
	      <% end %>
	    </td>
	    
	  </tr>
	  <% nm = nm + 1 %>
	  <% end %>
	</table>
	
      </div>
    </div>
    <div id="sidebox">
      <div id="sidemenu">
	<!-- サイドメニュー  -->
	<%= render 'shared/sidemenu_public' %>
      </div>
    </div>
  </div>
</div>


