<p id="notice"><%= notice %></p>
<h1> タグ詳細 </h1>
<div id="mainbody">
  <div id="container">
    <div id="mainbox">
      <div id="mainfield">
	<!-- メインコンテンツ  -->
	<p>
	  <b>Tag:</b>
	  <%= @tag.tag %>
	</p>
	<p>
	  <b>Deadline:</b>
	  <%= @tag.deadline %>
	</p>
	<p>
	  <b>作成日:</b>
	  <%= @tag.created_at %>
	</p>
	<%= link_to 'タグ一覧へ戻る', tags_path %>
      </div>
    </div>
    <div id="sidebox">
      <div id="sidemenu">
	<!-- サイドメニュー  -->
	<%= render 'shared/sidemenu_public' %>
      </div>
    </div>
  </div>
</div>


