<p id="notice"><%= notice %></p>
<h1>ファイルアップローダ</h1>
<div id="mainbody">
  <div id="container">
    <div id="mainbox">
<p>
  現在画像ファイル (.jpg, .gif, .png), HTMLファイル (.html, .htm), cssファイル (.css), shファイル (.sh), zipファイル(.zip), tar.gz ファイルのアップロードが可能です. 1 ファイルのサイズは 10MB までです.
</p>

      <div id="mainfield">

<%= form_tag({ :action => 'upload_process' }, :multipart => true ) do %>
<label> ファイルを指定: 
  <%= file_field_tag 'upfile', { :size => 50 } %>
</label>
<br>
<label> ファイルの説明: 
  <%= text_area_tag 'caption' %>
</label>

<%= submit_tag 'アップロード' %>
<% end %>
<br>
<!--<%= link_to 'マイページ', mypage_path(current_user.id) %> -->
<%= link_to 'アップロード一覧', user_fileupload_index_path(current_user.id) %>
      </div>
    </div>
    <div id="sidebox">
      <div id="sidemenu">
        <!-- サイドメニュー  -->
        <%= render 'shared/sidemenu_public' %>
      </div>
    </div>
  </div>
</div>

